<% if @order.nil? %>
  <%= polaris_page do %>
    <%= polaris_layout do |layout| %>
      <% layout.with_section do %>
        <%= polaris_card do %>
          <p>It seems perhaps this order was already sent to Monday as we found
            a record in the App DB for this exact order.</p>
          <p>This behaviour can be changed as it might be perfectly find to send
            more than one copy of the same order.</p>
          <p>Open for discussion!</p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div data-controller="order" data-order-id="<%= @order.legacy_resource_id %>">
    <%= polaris_page(
        title: "Re-send Order to Monday",
        back_url: home_path,
        secondary_actions: [url: "#",content: "return to order", "data-action": "click->order#return"]
      ) do |page| %>
      <%= polaris_layout do |layout| %>
        <% layout.with_section do %>
          <%= polaris_card do |card| %>
            <%= polaris_text_container do %>
              <%= polaris_heading { "Shopify Order: #{@order.name}" } %>
              <%= polaris_subheading { "Request to ship this order off to Monday..." } %>
              <%= polaris_spacer(vertical: :loose) %>
              <p>We went through the order, and this is what we found</p>
              <p>Is it a Monday eligible order?
                <%= @monday ? "Yes!" : "No!" %></p>
              <p>Number of things to make at Equipe:
                <%= @total_items %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
